openapi: 3.0.0
info:
  title: Slipstream API
  description: A REST API to interact with Slipstream WebSocket for blockchain operations
  version: 1.0.0
  contact:
    name: Slipstream Support
    email: support@slipstream.com
    url: https://slipstream.mara.com

servers:
  - url: https://slipstream.mara.com/api-rest
    description: Production server

paths:
  /getblock:
    get:
      summary: Get current block height
      description: Returns the current block height of the blockchain
      operationId: getBlockHeight
      tags:
        - Blockchain Info
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /getchain:
    get:
      summary: Get current chain name
      description: Returns the name of the current blockchain network (e.g., mainnet, testnet)
      operationId: getChainName
      tags:
        - Blockchain Info
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /getfee:
    get:
      summary: Get current Slipstream fee rate
      description: Returns the current minimum fee rate required for Slipstream transactions in sat/vB
      operationId: getFeeRate
      tags:
        - Transaction
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /submit_transaction:
    post:
      summary: Submit a transaction
      description: Submits a raw transaction to the network
      operationId: submitTransaction
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    BlockResponse:
      type: object
      properties:
        block_height:
          type: integer
          description: Current block height
          example: 680000

    ChainResponse:
      type: object
      properties:
        chain_name:
          type: string
          description: Current chain name
          example: mainnet

    FeeResponse:
      type: object
      properties:
        slipstream_fee_rate_floor:
          type: number
          format: float
          description: Current Slipstream fee rate floor in sat/vB
          example: 10.5

    TransactionRequest:
      type: object
      required:
        - tx_hex
      properties:
        tx_hex:
          type: string
          description: Raw transaction hex
          example: 020000000001010000000000000000000000000000000000000000000000000000000000000000ffffffff0503858a0e00ffffffff0200f2052a01000000160014e8df018c7e326cc253faac7e46cdc51e68542c42000000000000000000266a24aa21a9ede2f61c3f71d1defd3fa999dfa36953755c690689799962b48bebd836974e8cf90120000000000000000000000000000000000000000000000000000000000000000000000000

    TransactionResponse:
      type: object
      properties:
        txid:
          type: string
          description: Transaction ID of the submitted transaction
          example: 1a2b3c4d5e6f7g8h9i0j
        status:
          type: string
          description: Status of the transaction submission
          example: success

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Error message
                example: Missing tx_hex in request body

    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Error message
                example: An unexpected error occurred

tags:
  - name: Blockchain Info
    description: Endpoints for retrieving blockchain information
  - name: Transaction
    description: Endpoints for transaction-related operations

externalDocs:
  description: Slipstream API Documentation
  url: https://docs.slipstream.mara.com
  description: "Find out more about Swagger"
  url: "http://swagger.io"
